{% extends 'base.html.twig' %}

{% block title %}Webdevsegala | Développeur Freelance{% endblock %}

{% block body %}
<section class="cgu">
<div>
<h1>C.G.U (Condition Générale d'Utilisation)</h1>
</div>
</section>
{% endblock %}